# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Downloaded Dependencies
bore.exe

# Environment Variables
.env

# IDE / Editor specific
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Log files
*.log
